@import url("https://fonts.googleapis.com/css?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

#wrapper {
  max-width: 375px;
  margin: 5vh auto 5vh auto;
  border: 1px solid red;
}

#firstpagewrapper {
  background-color: #1c1a19;
  background-image: url("img/illustration-header-mobile.png");
  background-position: bottom -45px right 0;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 650px;
}

header {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: dimgray;
  padding: 5px;
}

header > * {
  margin: 5px;
}

#top-line {
  display: flex;
  height: 25px;
  justify-content: space-between;
  font-family: sans-serif;
  padding-left: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
}

nav > * {
  margin-left: 5px;
  margin-right: 5px;
}

.asnormal {
  /* Make a link behave as normal text */
  color: inherit;
  text-decoration: inherit;
  font-family: sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.myh1 {
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;          /* or 114% */
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 110px 5px 5px 5px;
  font-family: 'Crete Round', serif;
}

.myh2 {
  font-family: sans-serif;
  font-size: 22px;
  color: #fff;
  margin: 5px;
}

.normaltext {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;        /* or 150% */
  color: #fff;
  margin: 5px 20px 5px 5px;
}

.bottomicons {
  display: flex;
  list-style: none;
  padding-left: 10px;
}

#middle-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px auto 550px 550px 1fr;
  font-family: 'Crete Round', serif;
}

#my-recent-works {
  grid-row-start: 1;
  border: 1px solid red;
  margin: 24px 24px 0 24px;
  font-size: 26px;
  font-weight: 400;
  padding: 0;
}

.hr {
  color: grey;
  width: 100%;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

.work {
  margin: 0 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

#multi-post-stories {
  grid-row-start: 2;
  font-size: 22px;
  font-weight: 400;
  padding: 0;
  border: 1px solid red;
}

.myh2bis {
  margin-top: 20px;
  margin-bottom: 10px;
}

.Inter-text {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

#boxed-words {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.boxed-word {
  border: 1px solid grey;
  padding: 10px;
  margin-right: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.button {
  background-color: #dd7601;
  border: none;
  color: white;
  margin-top: 15px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

/* I was taught not to use the .button:active pseudo-class, in fact it doesn't work in my Chrome 
in respect to the background color (overridden by hover?) */
.button:active {
  background-color: #dd0181;
  border: 1px solid rgb(48, 31, 0)
}

.button:hover {
  background-color:#fdc200;
  transition: 0.7s;
}

.button:focus {
  background-color:#fdc200;
  transition: 0.7s;
}

#professional-art {
  grid-row-start: 3;
  border: 1px solid red;
}

#professional-art2 {
  grid-row-start: 4;
  border: 1px solid red;
}

#about-me {
  grid-row-start: 5;
  border: 1px solid red;
}
